<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :user_name %>
    </div>

    <div class="field">
      <%= form.label :ip %>
      <%= form.text_field :ip, id: :user_ip %>
    </div>


    <div class="field">
      <%= form.label :friends %><br>
      <%= form.select :friend_ids, options_from_collection_for_select(User.all, :id, :name, @user.friends.map(&:id)), {include_blank: true}, {multiple: true, size: 5} %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
